* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  padding: 0 16px;
  font-family: Roboto,sans-serif;
}

nav{
  margin: auto -16px;
  padding: 16px 32px;
}

a{
  text-decoration: none;
}

#logo{
  font-family: McLaren, cursive ;
  font-weight: 400;
  font-size: 1.5rem;
}

.tile{
    margin: 20px;
    background: white;
    padding: 10px;
    border-radius: 10%;
}

